#carouselExampleIndicators{
    width: 70%;
    border-radius: 2rem;
}

.carousel-inner {
    position: relative;
    overflow: hidden;
    height: 300px;
    border-radius: 2rem;
}

.slider2{
    width: 35%;
}