._experiencia{
    margin: 30px 0 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
._experiencia__empleo{
    background-color: #25002E;
    border: solid #58008D 2px;
    width: 30%;
    height: 650px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
}

#Slider_Experiencia_1, #Slider_Experiencia_2{
    display: flex;
    justify-content: center;
    width: 90%;
    height: 50%;
    margin: 4% 0 0 1%;
}

._experiencia__descripcion{
    color: white;
    font-size: 18px;
    text-align: center;
    margin-top: 15px;
    padding: 0 20px;
}

/*     ||  RESPONSIVE  ||    */

@media all and (min-width: 975px) and (max-width: 1440px) {
    ._experiencia__empleo {
        width: 35%;
        height: 450px;
    }
    #Slider_Experiencia_1, #Slider_Experiencia_2 {
        width: 70%;
        height: 40%;
    }
    ._experiencia__descripcion {
        font-size: 15px;
        text-align: justify;    
    }
}

/* Tamaño teléfonos (480-menos ) */
@media all and (max-width: 480px) {
    ._experiencia {
        margin-top: 10px;
        flex-direction: column;
        align-items: center;
    }
    ._experiencia__empleo {
        width: 90%;
        height: 600px;
        margin: 20px 0 20px 0;
    }
    #Slider_Experiencia_1, #Slider_Experiencia_2 {
        height: auto;
    }
    ._experiencia__descripcion {
        font-size: 15px;
        text-align: justify;    
    }
}