._otros{
    margin: 40px 0 40px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #25002E;
}

._otros_lista{
    color: white;
    font-size: 18px;
    align-content: center;
    margin-bottom: 2%;
}

._otros_lista li{
    height: 30%;
    margin: 1% 0 1% 0;
}

.launch {
    color: #BC4ED8;
    cursor: pointer;
}

/*     ||  RESPONSIVE  ||    */

@media all and (min-width: 975px) and (max-width: 1440px) {
    ._otros_lista li {
        font-size: 15px;
    }
}

/* Tamaño teléfonos (480-menos ) */
@media all and (max-width: 480px) {
    ._otros_lista {
        margin-bottom: 0;
        padding-bottom: 20px;
    }
    ._otros_lista li {
        font-size: 15px;
        height: 35%;
    }
}