#_rodapie{
    margin-top: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

._rodapie__redes{
    display: flex;
    margin-left: 20px;
}

#_rodapie p{
    width: 100%;
    margin: 10px 0 5px 30px;
    color: white;
    font-size: 22px;
    text-align: center;
}

._rodapie__redes a{
    text-decoration: none;
}

._rodapie__redes a i, ._rodapie__redes a span{
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    border-radius: 5px;
    margin: 10px 10px 20px 10px;
}

._rodapie__redes a i:hover{
    border: solid;
    border-image: linear-gradient(to right, #00E0FF, #BB5AF6) 1;
}

/* Tamaño monitor (1280-1024) */
@media all and (min-width: 1440px) and (max-width: 2560px) {

}

/* Tamaño tablet (768-480) */
@media all and (min-width: 480px) and (max-width: 768px) {

}

/* Tamaño teléfonos (480-menos ) */
@media all and (max-width: 480px) {
    #_rodapie {
        margin-top: 70px;
    }
    #_rodapie p {
        font-size: 18px;
        margin-left: 0;
    }

    ._rodapie__redes a i, ._rodapie__redes a span{
        width: 30px;
        height: 30px;
    }
}