._videojuegos{
    margin-top: 50px;
    background-color: #25002E;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

h3{
    width: 100%;
    color: white;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    margin-top: 30px;
}
._videojuegos__juegos{
    margin-top: 30px;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#Slider_Juego_1,
#Slider_Juego_2,
#Slider_Juego_3, 
#Slider_Experiencia_1, 
#Slider_Experiencia_2{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 1%;
}
.sliderModelos_box{
    border-radius: 15px;
    height: auto;
}

._videojuegos__titulo{
    color: #BC4ED8;
    font-weight: 700;
    font-size: 25px;
    text-align: center;
    margin: 10px 0 10px 0;
}
.box_tags{
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.tag{
    width: 25%;
    height: 30px;
    background-color: #7F00B2;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 2% 0 2%;
}
.tag p{
    color: white;
    font-weight: 700;
    margin: 0;
}

._videojuegos__descripcion{
    color: white;
    font-size: 18px;
    text-align: center;
    margin-top: 15px;
}
._videojuegos__rol{
    color: #f988ff;
    font-weight: 700;
    text-align: center;
}
.a{
    text-decoration: none;
    width: 45%;
}
._videojuegos__btn{
    width: 100%;
    height: 45px;
    background-color: #4B1493;
    border-radius: 10px;
    color: white;
    border: none;
    margin-bottom: 35px;
}

._videojuegos__btn:hover{
    border: solid;
    border-image: linear-gradient(to right, #00E0FF, #BB5AF6) 1;
}

/*     ||  RESPONSIVE  ||    */

/* Tamaño portátil (1280-1024) */
@media all and (min-width: 975px) and (max-width: 1440px) {
    h3 {
        font-size: 20px;
    }
    ._videojuegos__juegos {
        width: 25%;
    }
    ._videojuegos__titulo {
        font-size: 18px;
    }
    .tag {
        font-size: 11px;
        width: 20%;
        height: 20px;
    }
    ._videojuegos__descripcion {
        font-size: 14px;
    }
    ._videojuegos__rol {
        font-size: 12px;
    }
    .a {
        display: flex;
        justify-content: center;
    }
    ._videojuegos__btn{
        height: 30px;
        width: 70%;
        font-size: 14px;
    }
}

/* Tamaño teléfonos (480-menos ) */
@media all and (max-width: 480px) {
    h3 {
        font-size: 20px;
        margin-top: 20px;
    }
    ._videojuegos{
        flex-direction: column;
        align-items: center;
    }
    ._videojuegos__juegos {
        width: 90%;
        font-size: 18px;
    }
    ._videojuegos__titulo {
        font-size: 20px;
    }
    .tag {
        font-size: 12px;
    }
    ._videojuegos__descripcion {
        font-size: 15px;
    }
    ._videojuegos__rol {
        font-size: 14px;
    }
    .a {
        display: flex;
        align-content: center;
    }
    ._videojuegos__btn{
        height: 40px;
        width: 80%;
        font-size: 16px;
    }
}